body{
	font: 8pt verdana;
	background: #6C83FF;
}
img{
	border: 0px;
}
a{
	color: #211F19;
	text-decoration: none;
}
a.tab{
}
a.menuitem{
}
a:hover{
	text-decoration: underline;
}
a.tab:hover
	color: #FFFFFF;
}
a.menuitem:hover{
}
td{
	font: 8pt verdana;
}
h1{
	font: bold 10pt verdana;
}
h3{
	font: bold 8pt verdana;
}
font.tiny{
	font: 7pt verdana;
}

td.tab{
	height: 32px;
	background: url("tab.png");
}
td.tableft{
	width: 32px;
	background: url("tableft.png");
}
td.tabright{
	width: 32px;
	background: url("tabright.png");
}

td.seltab{
	height: 32px;
	background: url("seltab.png");
}
td.seltableft{
	width: 32px;
	margin-left: 4px;
	background: url("seltableft.png");
}
td.seltabright{
	width: 32px;
	background: url("seltabright.png");
}

td.menubar{
	height: 18px;
	background: url("menubar.png");
	border-left: solid 1px #FEF9EA;
	border-right: solid 1px #FEF9EA;
	
}
td.menubarleft{
}
td.menubarright{
}

td.menuitem{
}
td.menuitemleft{
	width: 18px;
}
td.menuitemright{
}

td.head{
	height: 25px;
	text-indent: 4px;
	background: url(head.png);
}
td.headleft{
	width: 25px;
	background: url("headleft.png");
}
td.headright{
	width: 25px;
	background: url("headright.png");
}

td.cell{
	padding: 8px;
	background: #B6C2FF;
	
	border-left: solid 1px #A5B4FF;
	border-top: solid 1px #A5B4FF;

	}
div.main{
	padding: 16px;
	background: #B6C2FF;
	font: 10pt verdana;
}
td.posthead{
	padding-top: 8px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
td.posttext{
	padding: 4px;
	background: #B6C2FF;
	border: solid 1px #A5B4FF;
}
pre.code{
	font: 8pt courier;
	color: #000000;
	background: #B6C2FF;
}
div.quote{
	padding: 8px;
	font-style: italic;
}
textarea.codebox{
	font: 8pt courier;
	color: #000000;
	background: #B6C2FF;
}