body{
	font: 12px verdana;
	background: url("background.png");
}
img{
	border: 0px;
}
a{
	font: 12px verdana;
	color: #000088;
	text-decoration: none;
}
a.tab{
}
a.menuitem{
}
a:hover{
	text-decoration: underline;
}
a.tab:hover
	color: #ccffff;
}
a.menuitem:hover{
}
h1{
	font: bolder 14px verdana;
}
h3{
	font: bolder 12px verdana;
}
font.tiny{
	font: 10px verdana;
}
td{
	font: 12px verdana;
}
td.tab{
	height: 17px;
	background: url("tab.png");
	text-align: center;
}
td.tableft{
	width: 8px;
	background: url("tableft.png");
}
td.tabright{
	width: 8px;
	background: url("tabright.png");
}
td.seltab{
	height: 17px;
	background: url("seltab.png");
	text-align: center;
}
td.seltableft{
	width: 8px;
	background: url("seltableft.png");
}
td.seltabright{
	width: 8px;
	background: url("seltabright.png");
}
td.menubar{
	height: 17px;
	background: #eeeeee;
	border-top: solid 1px #888888;
}
td.menubarleft{
	width: 1px;
	background: url("vbar.png");
}
td.menubarright{
	width: 1px;
	background: url("vbar.png");
}
td.menuitem{
}
td.menuitemleft{
	width: 8px;
}
td.menuitemright{
}
td.head{
	height: 18px;
	text-indent: 4px;
	background: url(head.png);
}
td.headleft{
	width: 1px;
	background: url("headleft.png");
}
td.headright{
	width: 1px;
	background: url("headright.png");
}
td.cell{
	padding: 4px;
	background: #eeeeee;
	border: solid 1px #ffffff;
}
div.main{
	padding: 16px;
	background: #ffffff;
	border: solid 1px #888888;
}
td.posthead{
	padding-top: 8px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
td.posttext{
	padding: 4px;
	background: #eeeeee;
	border: solid 1px #888888;
}
pre.code{
	padding: 8px;
	font: 12px courier;
	color: #0000ff;
	background: #eeeeee;
	border: solid 1px #888888;
}
div.quote{
	font-style: italic;
	padding: 8px;
	background: #cccccc;
	border: solid 1px #888888;
}
div.intro{
	padding: 8px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
}
input{
	font: 12px verdana;
}
select{
	font: 12px verdana;
}
submit{
	font: 12px verdana;
}
textarea{
	font: 12px verdana;
}
textarea.codebox{
	overflow:auto;
	font: 12px courier;
	color: #0000ff;
	background: #eeeeee;
}
